.container-header {
    position: relative;
    z-index: 2;
}

.header {
    display: flex;
    justify-content: space-between;
    position: absolute
}

.header h1,
p {
    margin: 0;
}

.header a {
    color: white;
    text-decoration: none;
}

.nav-group {
    display: flex;
    flex-direction: row;

}

.nav-group a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.nav-group a i {
    padding-top: 3%;
}