.container-header {
    position: relative;
    z-index: 2;
}

.header {
    display: flex;
    justify-content: space-between;
    position: absolute
}

.header h1,
p {
    margin: 0;
}


.logo {
    background-color: rgb(253, 253, 253);
    border-radius: 5%;
    color: black;
    font-family: fantasy;
    padding: 0.15rem;
}

.header a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}


.nav-group {
    display: flex;
    flex-direction: row;

}

.nav-group a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.nav-group a i {
    padding-top: 3%;
}