.header {
    display: flex;
    justify-content: space-between;
}

.header h1,
p {
    margin: 0;
}

.nav-group {
    display: flex;
    flex-direction: row;

}

.nav-group a {
    display: flex;
    flex-direction: row;
}

.nav-group a i {
    padding-top: 4%;
}