<div class="poke-grid">
    <div class="modal" *ngIf="openModal">
        <h1 (click)="closeModal()">X</h1>
        <div class="best-card" *ngFor="let best of pokeDetails">
            <img [src]="best.sprites.other['official-artwork'].front_default">
            <h3>{{best.name}}</h3>
            <div class="best-stats">
                <ul class="best-type">
                    <li class="best-type" *ngFor="let value of best.types" [class]="value?.type.name">
                        {{value?.type.name}}
                    </li>
                </ul>
                <ul class="best-ability">
                    <li class="best-ability" *ngFor="let value of best.abilities" [class]="value?.ability.name">
                        {{value?.ability.name}}</li>
                </ul>

                <ul>
                    <li>HP<mat-progress-bar mode="determinate" value={{(best.stats[0].base_stat)*(0.4)}}
                            color="accent"></mat-progress-bar>
                    </li>
                    <li>ATK<mat-progress-bar mode="determinate" value={{(best.stats[1].base_stat)*(0.4)}}
                            color="accent"></mat-progress-bar></li>
                    <li>DEF<mat-progress-bar mode="determinate" value={{(best.stats[2].base_stat)*(0.4)}}
                            color="accent"></mat-progress-bar></li>
                    <li>SP.ATK<mat-progress-bar mode="determinate" value={{(best.stats[3].base_stat)*(0.4)}}
                            color="accent"></mat-progress-bar></li>
                    <li>SP.DEF<mat-progress-bar mode="determinate" value={{(best.stats[4].base_stat)*(0.4)}}
                            color="accent"></mat-progress-bar></li>
                    <li>SPEED<mat-progress-bar mode="determinate" value={{(best.stats[5].base_stat)*(0.4)}}
                            color="accent"></mat-progress-bar></li>
                </ul>
            </div>
        </div>
    </div>
    <mat-spinner *ngIf="loading" color="accent" class="spinner"></mat-spinner>
    <button mat-raised-button color="primary" (click)="changeSprite()">
        Toggle Sprites
    </button>
    <div class="poke-card" *ngFor="let pokemon of pokemons" (click)="handleModal(pokemon)">
        <img *ngIf="!sprite" [src]="pokemon.sprites.front_default">

        <img *ngIf="sprite" [src]="pokemon.sprites.other['official-artwork'].front_default" [alt]="pokemon.name">
        <div>
            <h3>
                {{pokemon.name}}
            </h3>
            <ul>
                <li *ngFor="let value of pokemon.types" [class]="value?.type.name">{{value?.type.name}}</li>
            </ul>
        </div>
    </div>
</div>