<mat-nav-list class="nav-list">

    <a mat-list-item routerLink="kanto"> <i class="material-icons">chevron_right</i>Kanto</a>
    <a mat-list-item routerLink="johto"> <i class="material-icons">chevron_right</i>Johto</a>
    <a mat-list-item routerLink="hoenn"> <i class="material-icons">chevron_right</i>Hoenn</a>
    <a mat-list-item routerLink="sinnoh"><i class="material-icons">chevron_right</i>Sinnoh</a>
    <a mat-list-item routerLink="unova"> <i class="material-icons">chevron_right</i>Unova</a>
    <a mat-list-item routerLink="kalos"><i class="material-icons">chevron_right</i>Kalos</a>
    <a mat-list-item routerLink="alola"><i class="material-icons">chevron_right</i>Alola</a>
    <a mat-list-item routerLink="galar"><i class="material-icons">chevron_right</i>Galar</a>
    <a mat-list-item routerLink="paldea"><i class="material-icons">chevron_right</i>Paldea</a>
</mat-nav-list>