<mat-nav-list class="nav-list">
    <a mat-list-item routerLink="kanto">Kanto</a>
    <a mat-list-item routerLink="johto">Johto</a>
    <a mat-list-item routerLink="hoenn">Hoenn</a>
    <a mat-list-item routerLink="sinnoh">Sinnoh</a>
    <a mat-list-item routerLink="unova">Unova</a>
    <a mat-list-item routerLink="kalos">Kalos</a>
    <a mat-list-item routerLink="alola">Alola</a>
    <a mat-list-item routerLink="galar">Galar</a>
    <a mat-list-item routerLink="paldea">Paldea</a>
</mat-nav-list>