* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grass {
    background-color: green;
}

.poison {
    background-color: purple;

}

.fire {
    background-color: red;
}

.flying {
    background-color: cadetblue;
}

.water {
    background-color: rgb(4, 4, 163);
}

.bug {
    background-color: rgba(128, 255, 0, 0.521);
}

.fighting {
    background-color: brown;
}

.dark {
    background-color: rgba(0, 0, 0, 0.747);
}

.fairy {
    background-color: palevioletred;
}

.psychic {
    background-color: deeppink;
}

.ground {
    background-color: chocolate;
}

.normal {
    background-color: rgb(97, 92, 86);
}

.electric {
    background-color: goldenrod;
}

.rock {
    background-color: saddlebrown;
}

.ghost {
    background-color: mediumslateblue;
}

.steel {
    background-color: slategrey;
}

.ice {
    background-color: darkcyan;
}

.dragon {
    background-color: indigo;
}

.poke-grid {
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    gap: 1rem;
    text-transform: capitalize;
    justify-content: center;
    margin-top: 64px;
}

.poke-grid button {
    position: fixed;
    bottom: 0rem;
}

.poke-card {
    width: 20%;
    height: 20vh;
    background-color: rgba(255, 255, 255, 0.171);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.poke-card img {
    width: 30%;
    height: 50%;

}


.poke-card ul {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
}

.poke-card li {
    border-radius: 15%;
    list-style: none;
    padding: 0.10rem;
}