* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grass {
    background-color: green;
}

.poison {
    background-color: purple;

}

.fire {
    background-color: red;
}

.flying {
    background-color: cadetblue;
}

.water {
    background-color: rgb(4, 4, 163);
}

.bug {
    background-color: rgba(128, 255, 0, 0.521);
}

.fighting {
    background-color: brown;
}

.dark {
    background-color: rgba(0, 0, 0, 0.747);
}

.fairy {
    background-color: palevioletred;
}

.psychic {
    background-color: deeppink;
}

.ground {
    background-color: chocolate;
}

.normal {
    background-color: #a8a878
}

.electric {
    background-color: goldenrod;
}

.rock {
    background-color: saddlebrown;
}

.ghost {
    background-color: mediumslateblue;
}

.steel {
    background-color: slategrey;
}

.ice {
    background-color: darkcyan;
}

.dragon {
    background-color: indigo;
}

.poke-grid {
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    gap: 1rem;
    text-transform: capitalize;
    justify-content: center;
    margin-top: 64px;
}

.poke-grid button {
    position: fixed;
    top: 64px;
    right: 2rem;
}

.poke-card {
    width: 20%;
    height: 20vh;
    background-color: #ffffff2c;
    border-radius: 1rem;
    display: flex;

    justify-content: center;
    align-items: center;
    justify-content: space-around;
    transition: transform 1s;
    background-image: url("./assets/icons8-pokebola-100.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 10%;
}

.poke-card:hover {
    cursor: pointer;
    opacity: 80%;
    transform: scale(1.05);
}

.poke-card img {
    width: 25%;
    height: 50%;


}


.poke-card ul {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
}

.poke-card li {
    border-radius: 15%;
    list-style: none;
    padding: 0.10rem;
}

.best-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.best-card {
    display: flex;
    flex-direction: column;
    background-color: rgba(196, 186, 190, 0.055);
    border-radius: 5%;
    padding: 1rem;
    position: fixed;
    top: 10%;
    max-width: 30%;

}

.best-card h3 {
    text-transform: uppercase;
    align-self: center;
}

.best-card img {
    width: 80%;

    align-self: center;
}


.best-card li {
    list-style: none;
}


.best-stats {
    padding: 0.5rem;
    background-color: #424242;
    border-radius: 5%;
}

.best-type {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    justify-content: center;
    text-transform: capitalize;
}

.best-type li {
    padding: 0.25rem;
    border-radius: 7%;

}

.best-ability {
    padding: 0.25rem;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    justify-content: center;
    text-transform: capitalize;

}

.best-ability li {
    border-radius: 7%;
    background-color: #313131;
}

.animation {
    animation-name: zoom;
    animation-duration: 0.75s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.toggleSprite {

    top: 90%;
    left: 10%;

}